################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NLLingadConstruction/bin
/NLLingadConstruction/obj
/NLLingadConstruction/Properties/PublishProfiles
